node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

.next
tsconfig.tsbuildinfo
.eslintcache
.quality-gate-state.json

.scannerwork

next-env.d.ts

eslint-results.json
*storybook.log
storybook-static

.playwright-mcp